<div class="header">
    <app-header></app-header>
</div>

<div class="body__section">
    <div class="side__nav">
        <app-side-nav></app-side-nav>
    </div>

    <div class="main__section">
        <!-- <router-outlet></router-outlet> -->
        <div class="sample__editor" *ngIf="sampleEditor">
            <input class="form-control form-control-lg shadow-none" type="text" placeholder="Take a note..." (focus)="openEditor()">
        </div>
        <div class="editor__block" *ngIf="editorBody">
            <app-editor (editorClosed)="editorClosed($event)" (newData)="saveOrUpdateNotes($event , 'save')"></app-editor>
        </div>
        <div class="docket row">
            <!-- [ngStyle]="{'visibility': focused ? 'hidden' : 'visible'}" -->
            <ng-container *ngFor="let note of notesList; let i=index">
                <div class="notes__section col-md-4" [ngStyle]="{'visibility': (focused && selectedNoteIndex === i) ? 'hidden' : 'visible'}" (click)="notesEditor(content , i , note)">
                    <h1>{{note.title}}</h1>
                    <pre>{{note.body}}</pre>
                </div>
            </ng-container>
        </div>

        <div class="notes__editor">
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="">
                    <app-editor [seletedNote]="selectedNote" (editorClosed)="editorClosed($event , 'notes')" (newData)="saveOrUpdateNotes($event , 'update')"></app-editor>
                </div>
            </ng-template>
        </div>
    </div>
</div>