.header {
    background-color: #fff;
    height: 80px;
    border-bottom: 1px solid #e8eaed;
    position: sticky;
}

.body__section {
    display: flex;
    height: calc(100vh - 80px);
}

.side__nav {
    width: 250px;
    height: calc(100vh - 80px);
    border-right: 1px solid #e8eaed;
    overflow: auto;
}

.main__section {
    /* background-color: rgb(207, 207, 57); */
    width: calc(100% - 250px);
    /* height: calc(100vh-80px); */
    overflow: auto;
}

.sample__editor input {
    position: relative;
    left: 25%;
    top: 20px;
    background-color: #fff;
    width: 500px;
    min-height: 50px;
    border: 1px solid rgb(218, 215, 215);
    outline: none;
    font-size: 16px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.editor__block {
    position: relative;
    left: 25%;
    top: 20px;
    background-color: #fff;
    width: 45%;
    min-height: 50px;
    border: none;
    outline: none;
    padding-top: 10px;
}

.docket {
    position: relative;
    top: 5%;
    margin-left: 30px;
    height: auto;
}

.notes__section {
    white-space: pre-wrap;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgb(197, 196, 196);
    /* box-shadow: 0 2px 5px #ccc; */
    padding: 10px;
    width: auto;
    height: auto;
    max-width: 260px;
    margin: 16px;
    cursor: auto;
}

.notes__section h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.notes__section pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
}

.row {
    --bs-gutter-x: 0;
}