ul li {
    list-style: none;
    font-size: 17px;
}

ul li svg {
    margin-right: 10px;
    width: 20px;
    height: 45px;
}

ul li:hover {
    background-color: #e8eaed;
    border-radius: 10px;
}

ul {
    padding-left: 0;
    margin-top: 15px;
}

li {
    padding-left: 30px;
    cursor: pointer;
}